.ant-modal-confirm-content{
    margin-left: 0 !important;
    margin-top: 20px !important;
}
.point-content .ant-card-head, .subject-list .ant-card-head {
    background: #f1f3f3;
    border: 1px solid #d6dadb;
}